.footer-banner {
	text-align: center;
	margin-bottom: 150px;
	.btn {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 1.5em;
		font-weight: 200;
		padding: 30px 120px;
		color: #fff;
		margin: 0 auto;
		background-color: orange;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;
		transition: 1s ease;
		&:hover,
		&:active {
			background-color: darkorange;
			opacity: 0.5;
		}
	}
}