/************************************************************
HEADER
/***********************************************************/
/*-----Wrapper-----*/
.wrapper {
	width: 100%;
}

/*----Logo----*/
.logo-container {
	text-align: center;
	width: 100%;
}

/*----banner----*/
.hero-banner {
	width: 100%;
}
/*----Header content----*/
.minimax-des-header {
	text-transform: uppercase;
	font-weight: 300;
	text-align: $centerText;
	font-size: $h1FontSize;
	letter-spacing: 5px;
	line-height: 150px;
	margin-top: 50px;
	margin-bottom: 10px;
	@media (max-width: 420px) {
		line-height: 0px;
		letter-spacing: 1px;
		margin: 0;
		font-size: 14px;
	}
}
.minimax-des-content {
	font-weight: 200;
	text-align: $centerText;
	font-size: 1.25em;
	width: 30%;
	margin: 0 auto 50px auto;
	color: $defaultColor;
	@media (max-width: 420px) {
		width: 80%;
		font-size: 14px;
	}
}