/************************************************************
BASE
/***********************************************************/
body {
	font-family: $bodyFont;
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
}
