/************************************************************
Font
/***********************************************************/
$bodyFont : 'Roboto', sans-serif;
$h1FontSize: 2em;
$pFontSize: 1.5em;
$boldFont: 300;
$thinFont: 200;
$defaultColor: darkgrey;
$centerText: center;